.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	height: 300px;
	width: 500px;
	border-radius: 25px;
	background-color: white;
	outline: none;
	padding: 30px;
	overflow: hidden;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(20, 20, 20, 0.7);
	inset: 0;
}
