.header {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	line-height: 70px;
	border-bottom: 1px solid rgb(236, 232, 232);
	&__action {
		width: 50%;
		display: flex;
		justify-content: space-between;
	}
	&__icon {
		width: 20%;
		text-align: left;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: 60%;
			height: 60%;
		}
	}
	&__search,
	&__user,
	&__post {
		cursor: pointer;
	}
	&__search {
		min-width: 300px;
		height: 70%;
	}
	&__user {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: justify;
		margin: 0 auto;
		position: relative;

		.subMenu {
			background-color: white;
			display: none;
			text-align: center;
			position: absolute;
			z-index: 999;
			top: 60px;
			min-width: 100px;
			box-shadow: 0 2px 8px rgb(211, 208, 208);
			li {
				letter-spacing: 0.06rem;
				font-size: 0.6rem;
				margin: 0 auto;
				width: 100%;
				&:hover {
					background-color: #dddddd;
				}
			}
		}

		&:hover {
			.subMenu {
				display: block;
			}
		}
	}
	&__post {
		box-sizing: border-box;
		margin: 10px 20px;
		background-color: #ea6f5a;
		display: flex;
		padding: 0 15px 0 8px;
		color: white;
		border-radius: 30px;
		&__img {
			width: 50px;
			height: 40px;
			margin-top: 5px;
		}
		&__title {
			height: 50px;
			line-height: 50px;
			display: block;
		}
	}
}
